@model LoginUser;

<h4 class="display-4">Login!</h4>
<form class="col" asp-action="Signin" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="LoginEmail">Email</label>
        <input asp-for="LoginEmail" type="Email" class="form-control" placeholder="Email Here!">
        <span style="color:red;" asp-validation-for="LoginEmail" ></span>
    </div>
    <div class="form-group">
        <label asp-for="LoginPassword">Password</label>
        <input asp-for="LoginPassword" type="Password" class="form-control" placeholder="Password Here!" >
        <span style="color:red;" asp-validation-for="LoginPassword"></span>
    </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
</form>