@model Item

<style>
    input {
        max-width: 50%;
    }
    body {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h3>Put your New Dog Idea!</h3><br>
    <form class="col" asp-action="CreateProject" asp-controller="Item" method="post">
            <div class="row" >
                <div class="form-group col">
                    <label asp-for="Name">Product Name </label>
                    <input asp-for="Name" type="text" class="form-control" >
                    <span style="color:red;" asp-validation-for="Name"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Brand">Brand Name </label>
                    <input asp-for="Brand" type="text" class="form-control" >
                    <span style="color:red;" asp-validation-for="Brand"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="Price">Potential Price </label>
                    <input asp-for="Price" type="number" class="form-control">
                    <span style="color:red;" asp-validation-for="Price"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="CurrentFunding">Current Funding </label>
                    <input asp-for="CurrentFunding" type="Number" class="form-control" >
                    <span style="color:red;" asp-validation-for="CurrentFunding"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="FundingGoal">Funding Goal </label>
                    <input asp-for="FundingGoal" type="Number" class="form-control">
                    <span style="color:red;" asp-validation-for="FundingGoal"></span>
                </div>
            <div class="form-group">
                <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
            </div>
                <div class="form-group col">
                    <label asp-for="Description">Item Description </label>
                    <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                    <span style="color:red;" asp-validation-for="Description"></span>
                </div>
                <button type="submit" class="btn btn-outline-success">Create</button>
        </form>